* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #178286;
	font-family: sans-serif;
	color: #ebebeb;
	font-size: 18px;
  @media screen and (max-width: 780px) {
    font-size: 14px;
  }
}