.address {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  margin: auto;
  @media screen and (max-width: 780px) {
    flex-direction: column;
  }
}

.address__text {
  margin-bottom: 20px;
}

.contacts__map {
  border-radius: 10px;
  @media screen and (max-width: 780px) {
    width: 95%;
  }
}

.contacts__label {
  display: block;
  width: 80%;
  text-align: center;
  margin: 20px auto;
}

.contacts__input {
  display: block;
  width: 50%;
  margin: 10px auto;
  line-height: 2em;
  @media screen and (max-width: 780px) {
    width: 80%;
  }
}

.contacts__button {
  display: block;
  width: 100px;
  height: 30px;
  margin: 20px auto 100px;
  border: none;
  background-color: #ebebeb;
  color: #178286;
  text-transform: uppercase;
}