.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.content {
  position: relative;
  top: 30px;
  width: 90%;
  margin: auto;
}

.content__header, .content__header--small {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.content__header--small {
  font-size: 1.2em;
}

.content__text {
  width: 50%;
  text-align: justify;
  @media screen and (max-width: 780px) {
    width: 100%;
    text-align: center;
  }
}

.content__text--centered {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 2em;
}