.header__top {
	position: fixed;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 100px;
	background-color: rgba(219,245,246,0.9);
	z-index: 2;
}

.header__logo {
	width: 100px;
	height: 100px;
	margin-left: 20px;
	cursor: pointer;
}

.header__menu__button {
	display: none;
	@media screen and (max-width: 992px) {
		position: fixed;
		top: 30px;
		right: 50px;
		display: block;
		width: 50px;
		height: 50px;
		background-color: transparent;
		cursor: pointer;
	}
}

.menu__buttons {
	display: none;
	@media screen and (max-width: 992px) {
		display: block;
		width: 50px;
		height: 5px;
		margin-top: 5px;
		background-color: #178286;
		cursor: pointer;
	}
}

.header__menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	@media screen and (max-width: 992px) {
		display: none;
	}
}

.header__menu.header__menu--mobile {
	display: flex;
	position: fixed;
	top: 100px;
	right: 0;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	width: 230px;
	background-color: rgba(219, 245, 246, 0.9);
	z-index: 4;
}




.menu__item {
	height: 2em;
	margin: 10px;
	padding: 10px;
	color: #178286;
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	&:hover {
		border: 1px solid #178286;
		border-radius: 15px 15px 15px 15px;
	}
	&::after {
		content: '';
		position: relative;
		left: 20px;
		height: 15px;
		border-right: 1px solid #178286;
		@media screen and (max-width: 992px) {
			display: none;
		}
	}
}

.header__menu--mobile .menu__item, .header__menu--mobile .menu__item--dropdown {
	&:hover {
		width: 100%;
		height: 3em;
		margin: 0;
		text-align: right;
		border-radius: 0;
		background-color: #178286;
		color: #ebebeb;
		line-height: 2em;
	}
	&::after {
		border: none;
	}
}

.header__menu--mobile .menu__item--dropdown {
	position: relative;
}

.header__menu--mobile .menu__item--dropdown:hover .menu__submenu {
	top: 0;
	justify-content: flex-end;
	right: 230px;
	width: 150px;
	background-color: rgba(219,245,246,0.9);
}

.header__menu--mobile .submenu__item {
	height: 3.75em;
	margin: 0;
}

.menu__item--dropdown {
	display: flex;
	flex-direction: column;
	color: #178286;
	&:last-of-type .menu__item::after {
		border-right: none;
	}
}

.menu__item--dropdown:hover .menu__submenu {
	position: absolute;
	top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	background-color: rgba(219,245,246,0.7);
	color: #178286;
	list-style: none;
	z-index: 1;
}

.menu__submenu {
	display: none;
}

.submenu__item {
	width: 100%;
	padding: 5px 10px;
	font-size: 0.8em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: right;
	cursor: pointer;
	&:hover {
		background-color: #178286;
		color: #ebebeb;
	}
}

.header__slider_block {
	position: relative;
	height: calc(100vh - 50px);
	overflow: hidden;
	@media screen and (max-width: 780px) {
		height: 70vh;
	}
}

.header__slider_block--hidden {
	display: none;
}

.header__slider {
	position: relative;
	top: 100px;
	width: 100vw;
	height: auto;
	&:not(.header__slider--active) {
		display:none;
	}
}

.slider__image {
	height: 100%;
	@media screen and (min-width: 1366px) {
		width: 100%;
	}
	@media screen and (max-width: 780px) {
		width: 100%;
	}
}

.slider__arrow {
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-top: 5px solid #178286;
	border-left: 5px solid #178286;
	z-index: 1;
	@media screen and (max-width: 780px) {
		top: 40%;
		width: 25px;
		height: 25px;
		border-width: 3px;
	}
}

#left-arrow {
	left: 3%;
	transform: rotate(-45deg);
}

#right-arrow {
	right: 3%;
	transform: rotate(135deg);
}

.header__slider--dev > .slider__text{
	background-color: rgba(102, 105, 123, 0.7);
}

.header__slider--recr > .slider__text{
	background-color: rgba(36, 148, 169, 0.7);
}

.header__slider--team > .slider__text {
	background-color: rgba(76, 151, 102, 0.7);
}

.slider__text {
	position: absolute;
	bottom: 15%;
	left: 55%;
	width: 30%;
	padding: 35px;
	color: #ebebeb;
	font-size: 1.3em;
	@media screen and (max-width: 992px) {
		left: 0;
		top: auto;
		bottom: 100px;
		width: 30%;
	}
	@media screen and (max-width: 780px) {
		bottom: 0;
		width: 100%;
		transform: translateY(95%);
	}
}

.slider__buttons {
	position: absolute;
	top: 110px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 15%;
	background-color: rgba(219,245,246,0.7);
	height: 50px;
	margin: auto;
	padding: 20px 0;
	z-index: 1;
}

.slider__button {
	width: 15px;
	height: 15px;
	border: 3px solid #178286;
	border-radius: 100%;
	background-color: #178286;
	@media screen and (max-width: 780px) {
		width: 10px;
		height: 10px;
		border-width: 2px;
	}
}

.slider__button--active {
	background-color: transparent;
}

.sidebar, .timer_block {
	display: none;
}