.search_block, .search_block--categorized {
  display: flex;
  width: 250px;
  margin-top: 20px;
  height: 40px;
  z-index: 1;
}

.search_block--categorized {
  position: relative;
  top: 120px;
  left: 65%;
  @media screen and (max-width: 992px) {
    left:50%;
  }
  @media screen and (max-width: 780px) {
    left:50%;
    transform: translateX(-60%);
  }
}

.search_block--home {
  top: 20px;
  @media screen and (max-width: 780px) {
    top: 0;
  }
}

.search_block__field {
  height: 35px;
  line-height: 35px;
  width: 200px;
  border: 2px solid rgba(219, 245, 246, 0.5);
  background-color: rgba(219, 245, 246, 0.9);
  color: #178286;
  font-size: 16px;
}

.search_block__categories, .search_block__button {
  display: inline-block;
  height: 35px;
  border: 2px solid rgba(219,245,246,0.5);
  background-color: rgba(219,245,246,0.9);
}

.search_block__categories {
  width: 200px;
  color: #178286;
}

.search_block__category:hover {
  background-color: #178286;
  color: #ebebeb;
}

.search_block__button {
  width: 35px;
}

.button__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.content__search_results {
  margin: 120px auto 100px;
}