.statistics {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.statistics__chart {
  width: 50%;
  @media screen and (max-width: 780px) {
    width: 70%;
  }
}

.statistics__table__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.table__controls__button {
  width: 100px;
  height: 30px;
  margin: 10px;
  border: none;
  background-color: #ebebeb;
  color: #178286;
  text-transform: uppercase;
  font-weight: bold;
}

.table__controls__button--active {
  border: 2px solid #ebebeb;
  background-color: #178286;
  color: #ebebeb;
}

.statistics__table {
  width: 90%;
  margin: 0 auto 70px;
  @media screen and (max-width: 992px) {
    width: 90%;
  }
}

.table__head {
  line-height: 4em;
}

.table__sort_button {
  position: relative;
  left: 10px;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-right: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
}

.table__sort_button--down {
  top: -3px;
  transform: rotate(45deg);
}
.table__sort_button--up {
  transform: rotate(-135deg);

}

.table__body {
  line-height: 1.7em;
}

.table__result {
  text-align: center;
}

.table__header {
  vertical-align: top;
}