.timer_block--active {
  display: block;
  width: 10%;
  margin: 50px 50px auto 0;
  height: 100px;
  background-color: #ebebeb;
}

.timer_block__heading {
  padding-top: 10px;
  font-weight: bold;
}

.timer_block__heading, .timer_block__timer {
  text-align: center;
  color: #178286;
  line-height: 2em;
}

.timer_block__button {
  display: block;
  width: 200px;
  margin: 30px auto;
  height: 3em;
  border: 2px solid #ebebeb;
  background-color: #178286;
  color: #ebebeb;
  font-size: 1em;
}